{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h1>{{ object.name }} verwijderen?</h1>
{% endblock %}
{% block content %}
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <div class="card-footer text-end">
                <div class="d-flex">
                    <a href="{% url "core:hitlist-list" %}" class="btn btn-link">Annuleren</a>
                    <button type="submit" class="btn btn-danger ms-auto">Verwijderen</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}