[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
spotipy = "~=2.2"
django-crispy-forms = "~=1.14"
django-select2 = "~=7.10"
crispy_bootstrap5 = "*"
sentry-sdk = "*"
psycopg2 = "*"
django-tinymce = "*"
djangorestframework = "*"
django-cors-headers = "~=3.13"
django-excel = "*"
pyexcel-xlsx = "*"

[dev-packages]
django-debug-toolbar = "~=3.6"
black = "~=22.8"
pre-commit = "*"
flake8 = "~=5.0"
coverage = "*"

[requires]
python_version = "3.10"
