[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
spotipy = "~=2.2"
django-crispy-forms = "~=1.14"
django-select2 = "~=8.0"
crispy_bootstrap5 = "*"
sentry-sdk = "*"
psycopg2 = "*"
django-tinymce = "*"
djangorestframework = "*"
django-cors-headers = "~=3.13"
django-excel = "*"
pyexcel-xlsx = "*"
async-timeout = "*"
setuptools = "*"
thefuzz = "*"

[dev-packages]
django-debug-toolbar = "~=3.6"
black = "~=25.9"
pre-commit = "*"
flake8 = "~=5.0"
coverage = "*"

[requires]
python_version = "3.13"
