[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
spotipy = "~=2.2"
django-crispy-forms = "~=1.14"
crispy_bootstrap5 = "*"

[dev-packages]
django-debug-toolbar = "~=3.6"
black = "~=22.8"
pre-commit = "*"
flake8 = "~=5.0"

[requires]
python_version = "3.10"
