{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block head %}
    <link href="{% static 'css/vote_submission.css' %}" rel="stylesheet">
    <meta property="og:url" content="{{ request.path }}"/>
    <meta property="og:title" content="Mijn {{ object.hit_list.name }} Inzending"/>
    <meta property="og:description" content="Bekijk de inzending van {{ object.submitter_name }}!"/>
    {% if hitlist.theme == 'rock' %}
        <meta property="og:image" content="{% static 'img/popell_background.jpg' %}"/>
    {% elif hitlist.theme == 'carnaval' %}
        <meta property="og:image" content="{% static 'img/carnaval-background.jpg' %}"/>
    {% endif %}
{% endblock %}


{% block title %}{{ object.hit_list.name }}{% endblock %}

{% block content %}
    <!-- Facebook javascript SDK-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v15.0"
            nonce="4R8VAr9R"></script>
    <h2 class="py-4 border-bottom">Inzending van {{ object.submitter_name }} voor {{ object.hit_list.name }}</h2>
    <div class="fb-share-button" data-href="{{ request.path }}" data-layout="button"
         data-size="large"><a target="_blank"
                              href="https://www.facebook.com/sharer/sharer.php?u={{ request.path|urlencode }}&amp;src=sdkpreparse"
                              class="fb-xfbml-parse-ignore">Delen</a></div>
    <div class="vote_submission_container">
        <h4>Nummer 1 (5 punten):</h4>
        <div class="vote_container pb-4">
            <img class="vote_track_image" src="{{ object.vote_set.all.0.track.image_url }}"
                 alt="{{ object.vote_set.all.0.track.title }}"/>
            <div>
                <p class="vote_track_name">{{ object.vote_set.all.0.track.title }}</p>
                <p class="vote_artist">{{ object.vote_set.all.0.track.artists.all | artist_list }}</p>
            </div>
            <audio class="vote_track_preview" controls>
                <source src="{{ object.vote_set.all.0.track.preview_url }}">
            </audio>
        </div>
        <h4>Nummer 2 (4 punten):</h4>
        <div class="vote_container pb-4">
            <img class="vote_track_image" src="{{ object.vote_set.all.1.track.image_url }}"
                 alt="{{ object.vote_set.all.1.track.title }}"/>
            <div>
                <p class="vote_track_name">{{ object.vote_set.all.1.track.title }}</p>
                <p class="vote_artist">{{ object.vote_set.all.1.track.artists.all | artist_list }}</p>
            </div>
            <audio class="vote_track_preview" controls>
                <source src="{{ object.vote_set.all.1.track.preview_url }}">
            </audio>
        </div>
        <h4>Nummer 3 (3 punten):</h4>
        <div class="vote_container pb-4">
            <img class="vote_track_image" src="{{ object.vote_set.all.2.track.image_url }}"
                 alt="{{ object.vote_set.all.2.track.title }}"/>
            <div>
                <p class="vote_track_name">{{ object.vote_set.all.2.track.title }}</p>
                <p class="vote_artist">{{ object.vote_set.all.2.track.artists.all | artist_list }}</p>
            </div>
            <audio class="vote_track_preview" controls>
                <source src="{{ object.vote_set.all.2.track.preview_url }}">
            </audio>
        </div>
        <h4>Nummer 4 (2 punten):</h4>
        <div class="vote_container pb-4">
            <img class="vote_track_image" src="{{ object.vote_set.all.3.track.image_url }}"
                 alt="{{ object.vote_set.all.3.track.title }}"/>
            <div>
                <p class="vote_track_name">{{ object.vote_set.all.3.track.title }}</p>
                <p class="vote_artist">{{ object.vote_set.all.3.track.artists.all | artist_list }}</p>
            </div>
            <audio class="vote_track_preview" controls>
                <source src="{{ object.vote_set.all.3.track.preview_url }}">
            </audio>
        </div>
        <h4>Nummer 5 (1 punt):</h4>
        <div class="vote_container pb-4">
            <img class="vote_track_image" src="{{ object.vote_set.all.4.track.image_url }}"
                 alt="{{ object.vote_set.all.4.track.title }}"/>
            <div>
                <p class="vote_track_name">{{ object.vote_set.all.4.track.title }}</p>
                <p class="vote_artist">{{ object.vote_set.all.4.track.artists.all | artist_list }}</p>
            </div>
            <audio class="vote_track_preview" controls>
                <source src="{{ object.vote_set.all.4.track.preview_url }}">
            </audio>
        </div>
    </div>
{% endblock %}
