{% extends "base.html" %}
{% load static %}

{% block title %}Stemmen{% endblock %}

{% block imports %}
    <link href="{% static 'css/vote.css' %}" rel="stylesheet">
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    {# Load jQuery #}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    {# Load Select2 #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/nl.js"></script>

    <script>
        function formatStateResult(state) {
            if (!state.id) {
                return state.text;
            }
            return $(
                '<div class="selection_result_container">' +
                '<img src="' + state.image + '" class="selection_result_image"/>' +
                '<div>' +
                '<p class="selection_result_track_name">' + state.track_name + '</p>' +
                '<p class="selection_result_track_artist">' + state.track_artist + '</p>' +
                '</div>' +
                '</div>'
            )
        }

        function formatStateSelection(state) {
            if (!state.id) {
                return state.text;
            }
            return $(
                '<div class="selection_container">' +
                '<img src="' + state.image + '" class="selection_image"/>' +
                '<div>' +
                '<p class="selection_track_name">' + state.track_name + '</p>' +
                '<p class="selection_track_artist">' + state.track_artist + '</p>' +
                '</div>' +
                '</div>'
            )
        }

        $(document).ready(function () {
            $('.select_song').select2({
                placeholder: 'Kies een nummer',
                minimumInputLength: 1,
                width: 'resolve',
                "language": "nl",
                ajax: {
                    url: '{% url 'core:api-search' %}',
                    data: function (params) {
                        return {
                            q: params.term,
                        };
                    }
                },
                templateResult: formatStateResult,
                templateSelection: formatStateSelection,
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Bachelorclub Top 100 stemformulier</h2>
    <br/>
    <form id="voteform" action="/top100/thanks" method="post">
        {% csrf_token %}
        <label for="name">Naam:</label>
        <input type="text" name="name" id="name" value="" placeholder="Pietje puk">
        <div class="my-4">
            <div class="my-4 song_input">
                <label for="song_0">Nummer 1 (5 punten):</label>
                <select class="select_song" name="song_0" id="song_0"></select>
            </div>
            <div class="my-4 song_input">
                <label for="song_0">Nummer 2 (4 punten):</label>
                <select class="select_song" name="song_1" id="song_1"></select>
                <input type="hidden" name="uri_1" id="song_1_uri">
            </div>
            <div class="my-4 song_input">
                <label for="song_0">Nummer 3 (3 punten):</label>
                <select class="select_song" name="song_2" id="song_2"></select>
                <input type="hidden" name="uri_2" id="song_2_uri">
            </div>
            <div class="my-4 song_input">
                <label for="song_0">Nummer 4 (2 punten):</label>
                <select class="select_song" name="song_3" id="song_3"></select>
                <input type="hidden" name="uri_3" id="song_3_uri">
            </div>
            <div class="my-4 song_input">
                <label for="song_0">Nummer 5 (1 punten):</label>
                <select class="select_song" name="song_4" id="song_4"></select>
                <input type="hidden" name="uri_4" id="song_4_uri">
            </div>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}
