{% extends "base.html" %}

{% block title %}Stemmen{% endblock %}

{% block imports %}

    {% load static %}
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    {# Load jQuery #}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    {# Load Select2 #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/nl.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: 'Kies een nummer',
                minimumInputLength: 2,
                width: '100%',
                "language": "nl",
                ajax: {
                    url: 'https://api.github.com/orgs/select2/repos',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            type: 'public'
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form id="voteform" action="/top100/thanks" method="post">
        {% csrf_token %}
        <div id="name_logo_container">

            <div id="name_input_div">
                <label for="name">Naam:</label>
                <input type="text" name="name" id="name" value="">
            </div>
        </div>
        <br>
        <br/>
        <br/>
        Vul hier je vijf nummers in:
        <div id="song_input_div">
            <div id="entry_0" class="song_input">
                <select class="js-example-basic-single select_song" name="song_0" id="song_0"></select>
            </div>
            <br/>
            <div id="entry_1" class="song_input">
                <select class="js-example-basic-single select_song" name="song_1" id="song_1"></select>
                <input type="hidden" name="uri_1" id="song_1_uri">
            </div>
            <br/>
            <div id="entry_2" class="song_input">
                <select class="js-example-basic-single select_song" name="song_2" id="song_2"></select>
                <input type="hidden" name="uri_2" id="song_2_uri">
            </div>
            <br/>
            <div id="entry_3" class="song_input">
                <select class="js-example-basic-single select_song" name="song_3" id="song_3"></select>
                <input type="hidden" name="uri_3" id="song_3_uri">
            </div>
            <br/>
            <div id="entry_4" class="song_input">
                <select class="js-example-basic-single select_song" name="song_4" id="song_4"></select>
                <input type="hidden" name="uri_4" id="song_4_uri">
            </div>
        </div>
        <br/>
        <br/>
        <input type="submit" style="float:right" class="custom_button">
        <br/>
        <br/>
    </form>
    <!--Form for when user inputs custom song-->
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="close_span">✖</span>
            <div class="modal-body">
                <b>Let op:</b> Stem, als het kan, op de versie van het nummer dat op Spotify staat/al in de resultaten
                voor komt.
                <br/>
                <div>
                    <div id="input_div">
                        <p><label for="custom_song_title">Titel</label><input type="text" size="30"
                                                                              name="custom_song_title"
                                                                              id="custom_song_title"/></p>
                        <p><label for="custom_artist_name">Artiest</label><input type="text" size="30"
                                                                                 name="custom_artist_name"
                                                                                 id="custom_artist_name"/></p>
                    </div>
                    <div id="loading_div">
                        <br/>
                        <img src="{% static 'img/loading.gif' %}" alt="Loading" height="42" width="42">
                        <br/>
                        <div id="valid_song_placeholder">Validating INPUT_SONG</div>
                    </div>
                    <div id="found_songs_div">
                        <br/>
                        De volgende liedjes lijken erg veel op het door jou ingevulde liedje: <br/>
                        <select class="js-example-basic-single" name="custom_found_song" id="custom_found_song"
                                style="width:300px"></select>
                        <input type="hidden" name="uri_custom" id="custom_found_uri">
                    </div>
                </div>
                <div id="button_song_found_div">
                    <p>
                        <button type="button" onclick="replaceOwnSongWithFound()" class="custom_button">Bovenstaand
                            liedje toevoegen
                        </button>
                        of <a class="secondary_choice" onclick="addOwnCustomSong()" href="">Toch eigen liedje
                        toevoegen</a></p>
                </div>
                <div id="button_div">
                    <p>
                        <button type="button" class="custom_button" onclick="addSong()">Toevoegen</button>
                        of <a class="secondary_choice" id="close_modal" href="/">Annuleren</a></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
