{% extends 'dashboard/base.html' %}
{% load core_extras %}
{% block title %}
    <h1>Dashboard</h1>
{% endblock %}

{% block head %}
    <script>
        function changeHitlist() {
            window.location.href = "?list=" + document.getElementById("hitlistSelect").value;
        }
    </script>
{% endblock %}

{% block content %}
    <label for="hitlistSelect">
        <p>Selecteer lijst voor overzicht:</p>
    </label>
    <a href="{% url 'core:create-spotify-playlist' hitlist.id %}" class="btn btn-primary">Maak spotify afspeellijst</a>
    <select class="form-select" id="hitlistSelect" onchange="changeHitlist()">
        {% for item in hitlists %}
            <option{% if item == hitlist %} selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select>
    <div class="card mt-4">
        <div class="card-header">
            <h4>Tussenstand voor {{ hitlist.name }}</h4>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <tr>
                    <th>#</th>
                    <th>Titel</th>
                    <th>Artiest</th>
                    <th>Punten</th>
                    <th>Stemmen</th>
                </tr>
                {% for track in hitlist.get_list %}
                    <tr{% if track.is_non_spotify %} class="bg-danger-lt"{% endif %}>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ track.title }}</td>
                        <td>{{ track.artists.all | artist_list }}</td>
                        <td>{{ track.score }}</td>
                        <td>{{ track.votes }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <h3>Nog stemmen binnen</h3>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h4>Stemmen voor {{ hitlist.name }} ({{ hitlist.votesubmission_set.all.count }} stemmen)</h4>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <tr>
                    <th>Ongeldig?</th>
                    <th>Door</th>
                    <th>Tijd</th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>#4</th>
                    <th>#5</th>
                </tr>
                {% for vote in hitlist.votesubmission_set.all|dictsortreversed:"timestamp" %}
                    {% with vote.vote_set.all as votes %}
                        <tr>
                            <td>
                                <a href="{% url 'core:toggle-submission-invalidation' vote.id %}">
                                    {{ vote.is_invalidated|yesno:"Ja,Nee" }}
                                </a>
                            </td>
                            <td>{{ vote.submitter_name }}</td>
                            <td>{{ vote.timestamp }}</td>
                            <td>{{ votes.0.track }}</td>
                            <td>{{ votes.1.track }}</td>
                            <td>{{ votes.2.track }}</td>
                            <td>{{ votes.3.track }}</td>
                            <td>{{ votes.4.track }}</td>
                        </tr>
                    {% endwith %}
                {% empty %}
                    <tr>
                        <td colspan="8">
                            <h3>Nog stemmen binnen</h3>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}