body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/img/popell_background.webp");
    background-attachment: fixed;
}

.content{
    border-radius: 25px;
    border: 2px solid rgba(0,0,0,.7);
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    font-size:18px;
    clear: both;
}