body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/img/popell_background.jpg");
    background-attachment: fixed;
    background-position: center;
}

.content {
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, .7);
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    font-size: 18px;
    clear: both;
}

@media (max-width: 576px) {
    .content {
        border-radius: 0;
        border-top: 2px solid rgba(0, 0, 0, .7);
        border-bottom: 2px solid rgba(0, 0, 0, .7);
        padding: 0;
    }
}

.btn-popell {
    --bs-btn-color: white;
    --bs-btn-bg: rgba(0, 0, 0, 0.7);
    --bs-btn-border-color: #FFED2D;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(40, 40, 40, 1);
    --bs-btn-hover-border-color: #FFED2D;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: rgba(0, 0, 0, 0.7);
    --bs-btn-active-border-color: #FFED2D;
    --bs-btn-border-width: 2px;
}

.footer {
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

a:link, a:visited, a:hover {
    color: white;
}