body {
    background-image: url("/static/img/carnaval-background.jpg");
}

.content{
    border: 3px solid rgba(251,154,9,0.8);
    background-color: rgba(0, 0, 0, .7);
}

.btn-popell {
    --bs-btn-color: white;
    --bs-btn-bg: rgba(251,154,9, .8);
    --bs-btn-border-color: #009f35;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(251,154,9, 1);
    --bs-btn-hover-border-color: #009f35;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: rgba(251,154,9, 1);
    --bs-btn-active-border-color: #009f35;
    --bs-btn-border-width: 3px;
}