body {
    --image-width-result: 50px;
    --image-width-selection: 64px;
}

.select_song {
    width: 100%;
}

.selection_result_image {
    width: 100%
}

.selection_result_container {
    display: grid;
    grid-template-columns: var(--image-width-result) 1fr;
    gap: 10px;
}

.selection_result_track_name {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.selection_result_track_artist {
    font-size: 0.9em;
    margin: 0;
}

.select2-selection__rendered {
    line-height: 66px !important;
}

.select2-container .select2-selection--single {
    height: 70px !important;
}

.select2-selection__arrow {
    height: 68px !important;
}

.selection_container {
    display: grid;
    grid-template-columns: var(--image-width-selection) 1fr;
    gap: 10px;
    line-height: 1.4em;
}

.selection_image {
    width: 100%;
    margin-top: 2px;
}

.selection_track_name {
    font-weight: bold;
    font-size: 1.3em;
    word-break: break-word;
    margin: 5px 0 0 0;
}

.selection_track_artist {
    font-size: 1em;
    margin: 0;
}

@media (max-width: 576px) {
    .selection_result_track_name {
        font-size: 1em;
    }

    .selection_result_track_artist {
        font-size: 0.7em;
    }

    .selection_track_name {
        font-size: 1em;
    }

    .selection_track_artist {
        font-size: 0.7em;
    }
}
